<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "MusicGroup",
    "url": [
      "http://hjulieta.com/",
      "http://fb.com/HotelJulieta",
      "https://open.spotify.com/artist/4R6ApsFDCgq0nH0K5U9uj8"
    ],
    "name": "Hotel Julieta",
    "sameAs": "http://www.hjulieta.com",
    "description": "Hotel Julieta es un grupo de rock chileno formado por Tomás Ledoux, Eduardo Ramírez, Matías Schulze",
    "potentialAction": {
      "@type": "ListenAction",
      "target": [
        "https://open.spotify.com/artist/4R6ApsFDCgq0nH0K5U9uj8"
      ]
    }
  }
</script>
